.container {
    display: flex;
    margin-inline: 5vw;
    justify-content: space-between;
}

.box1 {
    width: 69%;
}

.box2 {
    margin: 23px;
}

.box1 h2 {
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #CD181E;
}

p {
    margin: 8px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}